<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Добро пожаловать в приложение Расписание!</title>
</head>
<body>
<h1>Добро пожаловать в приложение Расписание!</h1>
<h2>Спасибо за регистрацию аккаунта в приложении.</h2>
<p>Подтверждение почты времено отключено, однако в скором будущем это можнт быть обязательно.</p>
<p> Когда это потребуется на этот ваш почтовый адрес придет письмо с подтверждением.</p>
<hr>
<p><a href="https://devdem.ru">devdem.ru</a> | Спасибо, что пользуетесь</p>
<h5>Вы получили это письмо так как указали этот почтовый ящик при регистрации своего аккаунта</h5>
</body>
</html>